
@import "../bower_components/bootstrap/less/bootstrap.less";

.divsdias:extend(.text-center){    
    float: left;
    width: 12.5%;
    height: 320px;
}
div#datalist{
    margin-bottom: 30px;
}
p.diaSemana{
    font-family: cursive;
}
p.fecha{
    font-family: fantasy;
}
p.tiempo{
    font-family: monospace;
    text-transform: capitalize;
}
p.tempMax,p.tempMin{
    font-family: sans-serif;
}